body {
  font-family: 'Josefin Sans';
  margin: 0;
}

.dark {
  background-color: hsl(235, 21%, 11%);
  color: white;
}

.light {
  background-color: #FAFAFA;
  color: #48465B;
}

body h1 {
  margin: 0;
}

.todo-header__image {
  background-repeat: no-repeat;
  background-position: top;
}

.todo-header__image.dark {
  background-image: url('/images/bg-desktop-dark.jpg');
}

.todo-header__image.light {
  background-image: url('/images/bg-desktop-light.jpg');
}

.todo-container {
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  width: 40%;
  gap: 1.5rem;
}

.switch-theme, .del-button {
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  outline: none;
}

.switch-theme {
  width: 40px;
  height: 40px;
  border-radius: 999px;
}

.switch-theme.dark {
  background-image: url('/images/icon-sun.svg');
}

.switch-theme.light {
  background-image: url('/images/icon-moon.svg');
}

.switch-theme:hover {
  background-color: rgba(255, 255, 255, 0.35);
}

.todo-header__text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 6rem;
}

.todo-input__char {
  margin: 0.4rem 0;
  text-align: right;
  background-color: transparent;
}

.todo-input__char.dark {
  color: hsl(234, 39%, 85%);
}

.todo-input__char.light {
  color: hsl(236, 33%, 92%);
}

.todo-input, .todo-item__content{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem 1rem;
  justify-content: space-between;
}

.todo-input {
  border: 1px solid transparent;
  border-radius: 7px;
}

.todo-input.dark {
  background-color: #25273C;
  box-shadow: 0 3px 10px #25273C;
}

.todo-input.light {
  background-color: #FFFFFF;
  box-shadow: 0 2px 10px #FFFFFF91;
}

.submit-button, .check-button, .complete {
  padding: 0.5rem;
  border-radius: 999px;
  width: 23px;
  height: 23px;
  cursor: pointer;
  outline: none;
}

.submit-button, .check-button {
  background-color: transparent;
  border: 1px solid hsl(234, 39%, 85%);
}

.submit-button:hover {
  width: 25px;
  height: 25px;
  background-image: url('/images/icon-check.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.submit-button.dark:hover {
  border: 1px solid white;
}

.submit-button.light:hover {
  border: 1px solid #BDBDBD;
  background-color: #BDBDBD;
}

.todo-input__text {
  width: 100%;
  padding-top: 0.3rem;
  padding-bottom: 0.2rem;
  font-size: 18px;
  outline: none;
  color: hsl(234, 16%, 76%);
  background-color: transparent;
  border: 1px solid transparent;
  font-family: 'Josefin Sans';
}

.todo-input__text.dark.typing {
  color: white;
}

.todo-input__text.light.typing {
  color: hsl(235, 19%, 35%);
}

.todo-list {
  user-select: none;
  border: 1px solid transparent;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.todo-list.dark {
  background-color: #25273C;
}

.todo-list.light {
  background-color: #FFFFFF;
  box-shadow: 0 3px 25px #c0c0c0;
}

.todo-list__empty {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
  padding-top: 9rem;
}

.todo-item__empty {
  text-align: center;
  padding: 4rem 0 2rem 0;
  font-size: 18px;
}

.todo-item__empty.dark {
  background-color: #25273C;
  color: hsl(234, 16%, 76%);
}

.todo-item__empty.light {
  background-color: #FFFFFF;
  color: hsl(236, 9%, 61%);
}

.todo-item__content.dark {
  background-color: #25273C;
  border-bottom: 1px solid hsl(233, 14%, 35%);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.todo-item__content.light {
  background-color: #FFFFFF;
  border-bottom: 1px solid hsl(233, 11%, 84%);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.todo-item__contentText {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.todo-item__body {
  padding-top: 0.1rem;
}

.todo-item__body.dark {
  color: white;
  background-color: transparent;
}

.todo-item__body.light {
  color: black;
  background-color: transparent;
}

.del-button {
  width: 32px;
  height: 32px;
  border-radius: 999px;
  background-image: url('/images/icon-cross.svg');
}

.del-button:hover {
  background-color: hsla(240, 2%, 68%, 0.24);
}

.check-button:hover {
  border-color: #7d4bda;
}

.complete {
  background: url('/images/icon-check.svg'),
              linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
}

.check-button.complete + .todo-item__body.dark {
  text-decoration: line-through;
  color: #C0C0C0;
}

.check-button.complete + .todo-item__body.light {
  text-decoration: line-through;
  color: #7E7E7E;
}

.todo-list__footer.desktop, .todo-list__footer.mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: -1.5rem;
}

.todo-list__footer.desktop.dark {
  background-color: #25273C;
  color: hsl(234, 11%, 52%);
}

.todo-list__footer.desktop.light {
  background-color: #FFFFFF;
  box-shadow: 0 4px 8PX #c0c0c0;
  color: hsl(236, 9%, 61%);
}

.todo-list__footer.mobile {
  display: none;
}

.todo-list__footer-choice.mobile.light, .todo-list__footer-choice.mobile.dark {
  display: none;
}

.todo-list__footer-choice.desktop, .todo-list__footer-choice.mobile {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.todo-list__footer-choice.desktop p, .todo-list__footer-choice.mobile p {
  cursor: pointer;
}

.clear-button {
  cursor: pointer;
}

.clear-button:hover {
  color: hsl(236, 33%, 92%);
}

.onPage-button {
  color: hsl(220, 98%, 61%);
}

.offPage-button {
  color: hsl(234, 11%, 52%);
}

.offPage-button:hover {
  color: hsl(221, 53%, 39%);
}

.todo-list__message {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.todo-list__message.light {
  color: hsl(236, 9%, 61%);
}

.todo-list__message.dark {
  color: hsl(234, 11%, 52%);
}

@media screen and (max-width: 1200px) {
  .todo-list__footer.desktop {
    display: none;
  }

  .todo-list__footer.mobile, 
  .todo-list__footer-choice.mobile.light,
  .todo-list__footer-choice.mobile.dark  {
    display: flex;
  }

  .todo-list__footer.mobile.dark {
    background-color: #25273C;
    color: hsl(234, 11%, 52%);
  }
  
  .todo-list__footer.mobile.light {
    background-color: #FFFFFF;
    box-shadow: 0 4px 8PX #c0c0c0;
    color: hsl(236, 9%, 61%);
  }

  .todo-list__footer-choice.mobile {
    justify-content: center;
    gap: 4rem;
    border-radius: 5px;
  }

  .todo-list__footer-choice.mobile.dark {
    background-color: #25273C;
    color: hsl(234, 11%, 52%);
  }

  .todo-list__footer-choice.mobile.light {
    background-color: #FFFFFF;
    box-shadow: 0 3px 10PX #c0c0c0;
    color: hsl(236, 9%, 61%);
  }
}

@media screen and (max-width: 1000px) {
  .todo-container {
    width: 60%;
    margin-left: 20%;
  }
}

@media screen and (max-width: 720px) {
  .todo-container {
    width: 80%;
    margin-left: 10%;
  }
}

@media screen and (max-width: 500px) {
  .todo-container {
    width: 90%;
    margin-left: 5%;
  }
}
